  <div class="">
     <div class=" text-center container">
        <h1 class="fw-light">AHORCADO</h1>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div > 
                <br>
                <label >Intento fallidos: {{this.intentos}} - Maximo: {{this.intentosMax}}</label>
                <br>
                <label>La palabra secreta es:</label><label *ngFor="let item of guionesArray"> {{item}}, </label>
                <br>
                <label>Las letras elegidas hasta el momento son: </label><label><b>{{this.ingresada}}</b></label>
                <br><br>
                <div *ngIf="estado==0">
                    <label >Elegir una Letra:</label>
                    <input  *ngFor="let elemento of botonesArray" (click)="jugar(elemento)" 
                           type="button" value="{{elemento}}" id = "{{elemento}}">  
                    <br>   
                     <!--button *ngFor="let elemento of botonesArray" (click)="jugar(elemento)"> {{elemento}} </button-->       
                </div>
                <div *ngIf="estado==1">
                    <p>EL GANADOR ES EL JUGADOR {{this.miServicio.UsuarioActual}} !!!</p>
                </div>
                <div *ngIf="estado==2">
                    <p>EL GANADOR ES LA MAQUINA</p>
                </div>
                <DIV *ngIf="estado>=1">
                    <button (click)="NuevoJuego()" >Nuevo Juego </button>   
                </DIV>
            </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src={{this.miImagen}} width="200">   
          </div>
        </div>

      </div>
    </div>
  </div>
