<head>
    <style>
        .boton {
            width: 50px;
            height: 50px;
            margin: 10px;
        }
    </style>
</head>
<h3>TA-TE-TI</h3>
<p>{{this.miServicio.UsuarioActual}} es el jugardor X</p>
<div>
    <button (click)="botonPresionado(0,0)" class="boton">{{posi[0][0]}}</button>
    <button (click)="botonPresionado(0,1)" class="boton">{{posi[0][1]}}</button>
    <button (click)="botonPresionado(0,2)" class="boton">{{posi[0][2]}}</button>
</div>
<div>
    <button (click)="botonPresionado(1,0)" class="boton">{{posi[1][0]}}</button>
    <button (click)="botonPresionado(1,1)" class="boton">{{posi[1][1]}}</button>
    <button (click)="botonPresionado(1,2)" class="boton">{{posi[1][2]}}</button>
</div>
<div>
    <button (click)="botonPresionado(2,0)" class="boton">{{posi[2][0]}}</button>
    <button (click)="botonPresionado(2,1)" class="boton">{{posi[2][1]}}</button>
    <button (click)="botonPresionado(2,2)" class="boton">{{posi[2][2]}}</button>
</div>
<div *ngIf="hayganador=='SI'">
    <label>
        <b>El ganador es : </b> {{this.elGanadorEs}} 
    </label>
    <br>

</div>

